[data-v-1e46d945] {
  box-sizing: border-box;
  font-family: Comfortaa, sans-serif;
}
h1[data-v-1e46d945] {
  text-align: center;
  padding: 2% 0 5% 0;
}
section[data-v-1e46d945] {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container[data-v-1e46d945] {
  background-color: #6fbfb7;
  width: 700px;
  margin: 0 auto 10%;
  padding: 20px;
  box-shadow: 10px 10px 20px #000000b9;
  border-radius: 8px;
}
.form[data-v-1e46d945] {
  margin-top: 20px;
  font-size: 20px;
  color: #9e9e9e;
}
.form input[data-v-1e46d945],
.form textarea[data-v-1e46d945] {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid hsla(0, 0%, 50%, 0.199);
  margin-top: 5px;
  background-color: #c4fefb;
  border-radius: 8px;
}
textarea[data-v-1e46d945] {
  resize: vertical;
}
button[data-v-1e46d945] {
  left: 25%;
  position: relative;
  width: 50%;
  border: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #f27127;
}
