

.minRolle .videoFrontpage {
    height: 100%;
    width: 100%;
    border-bottom: 5px solid var(--blackOpa);
}

.headline {
    font-size: 2rem;
    text-align: center;
    padding: 3% 0%;
}

.sectionCyanBackground {
    background-color: var(--lightCyan);
    padding: 5% 0%;
    width: 100%;
    border-bottom: 5px solid var(--blackOpa);
    
}

.sectionCyanBackgroundText {
    color: var(--black);
    margin: 0 25%;
}

.roundedImages{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3% 0%;
    gap: 10%;
}

.rounded{
    background-color: var(--Cyan);
    border-radius: 50%;
}

.rounded:hover {
    transform: scaleY(1.4);
    transform: scaleX(1.1);
}

.sectionMerc {
    background-color: var(--lightCyan);
    border-bottom: 5px solid var(--blackOpa);
}

.roundedImages2 {
    gap: 10%;
    display: flex;
    justify-content: center;
    background-color: var(--lightCyan);
    padding-bottom: 4%;
    width: 100%;
}

.mercText {
    text-align: center;
    padding-top: 5%;
    padding-left: 8%;
    color: var(--black);
}
.mercText:hover {
    color: var(--orange);
  transition: 0.5s;
  transition-duration: 0.5s;
  transform: scaleY(1.1);
  transform: scaleX(1.1);
}


.mercText::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--orange);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

.contactDiv {
    text-align: center;
    padding-bottom: 5%;
}

.contactButton {
    background-color: var(--orange);
    font-family: Comfortaa;
    border: 1.5px solid var(--black);
    padding: 10px 25px 10px 25px;
}

