@import url(https://fonts.googleapis.com/css?family=Comfortaa);
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
}

:root {
  /* primary colours */
  --Cyan: #6fbfb7;
  --darkCyan: #02363a;
  --lightCyan: #c4fefb;
  
  /* secondary colours */
  --orange: #f27127;
  
  
  /* basic colours */
  --white: #ffffff;
  --black: rgb(15, 15, 15);
  --blackOpa: rgb(15, 15, 15, 20%);
  
  /* bgBlack = bagground black */
  --bgBlack: rgb(25, 25, 25);
}
