@import url(https://fonts.googleapis.com/css?family=Comfortaa);
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

:root {
  /* primary colours */
  --Cyan: #6fbfb7;
  --darkCyan: #02363a;
  --lightCyan: #c4fefb;
  
  /* secondary colours */
  --orange: #f27127;
  
  
  /* basic colours */
  --white: #ffffff;
  --black: rgb(15, 15, 15);
  --blackOpa: rgb(15, 15, 15, 20%);
  
  /* bgBlack = bagground black */
  --bgBlack: rgb(25, 25, 25);
}

/* Breadcrumbs below */
.breadcrumbs {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.breadcrumbsText {
  color: black;
  font-style: italic;
  padding: 0 10px 0 10px;
}

.breadcrumbsText:hover {
  color: var(--orange);
  transition: 0.3s;
}

